.admin-card-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    flex-wrap: wrap;
}

.admin-card-container .card {
    margin-right: 5%;
    margin-top: 5%;
}

.admin-card-container .card .btn {
    background-color: #77bc3f;
    border: none;
}

.admin-page-heading {
    color: #77bc3f;
    font-size: 4rem;
    margin-top: 1%;
    text-align: center;
    text-decoration: underline;
}

.admin-card-container .card .btn:hover {
    background-color: #6de00e;
}