.container-changepassword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    margin-bottom: 2%;
}

.changepass-form-container {
    padding: 2%;
}

.npass-heading {
    font-weight: 700;
    color: rgb(100, 184, 32);
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 3rem;
}

.resendotp {
    color: #0d6efd;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2.5rem;
}